.game-modal {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it sits above other elements */
}

.game-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: For a background overlay */
  z-index: 999; /* Slightly lower than the modal content */
}

/* games-view.scss */

/* Base style for all command buttons */
.command-button {
  padding: 10px;
  margin: 10px;
  background-color: #ffcc00;
  border: 1px solid #000;
  display: inline-flex;
  min-width: 120px;
  cursor: pointer;
  justify-content: space-around;
  transition: background-color 0.3s ease;
  border-radius: 12px;
}

.command-button:hover {
  background-color: #e6b800;
}



.clear-button {
  @extend .command-button;
  background-color: #8d0d0d;
  color: white;
  min-width: 160px;
}
.clear-button:hover {
  background-color: #770202;
}

.run-button {
  @extend .command-button;
  background-color: green;
  color: white;
  min-width: 160px;
}

.run-button:hover {
  background-color: rgb(0, 77, 0);
}

.homepage-button {
  @extend .command-button;
  background-color: blue;
  color: white;
  min-width: 160px;
}

.homepage-button:hover {
  background-color: rgb(53, 53, 255);
}

.level-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
  height:100%;
  background-color:yellow;
}

.top-game-container {
  display: flex;
  width:fit-content;
  margin: 0 auto;
  align-items:center;
  justify-content: center;
  height:200px;
}

.level-button {
  background-color: purple;
  color: white;
  min-width: 120px;
  font-size: smaller;
  padding:5px;
  flex:1;
  &.active-button {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}

.level-button:hover {
  background-color: darkviolet;
}