@import '../../Assets/styles/variables.scss';
.challenge {
  color: $off-black;
  display: flex;
  flex-direction: column;
  background: $teal;
  padding: 4rem 4rem;
  & > .challenge-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    width: 100%;
    & > .css-wrapper,
    .html-wrapper {
      background-color: $off-white;
      padding: .5rem; 
      box-sizing: border-box; 
      border-radius: .5rem;
      width: 60%;
      @media (max-width: 1250px) {
        width: 80%;
      }
      @media (max-width: 1024px) {
        width: 100%;
      }
      & > .inner {
        box-sizing: border-box; 
        color: $off-black;
        padding: 2rem; 
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: .3rem solid $off-black; 
        text-align: center;
        gap: 2rem;
        & > h3,
        p {
          margin: 0;
        }
        & > p {
          font-family: 'IBMPlexSans'; 
        }
        & > .start-button {
          padding: .5rem 1.5rem;
          font-size: 1rem;
          color: $off-white;
          height: 3rem;
          text-align:center;
          border: none;
          border-radius: 1rem;
          background: $off-black; 
          &:hover {
            background-color: $off-white;
            color: $off-black;
          }
        }
      }
    }
    // & > .button-container {
    //   display: flex;
    //   justify-content: space-between;
    //   margin: 3rem 0;
    //   width: 100%;
    //   & > .back, 
    //   .next {
    //     display: flex;
    //     justify-content: space-between;
    //     border: none;
    //     color: $off-white;
    //     border-radius: .5rem;
    //     padding: .5rem 1.5rem;
    //     &:hover {
    //       background-color: $pink;
    //       color: $off-white;
    //       fill: $off-white;
    //     }
    //   } 
    //   & > .back {
    //     background-color: $off-black;
    //   }
    //   & > .next {
    //     background-color: $pink;
    //   }
    // }
  }
  & > .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    & > .back,
    .done {
      padding: .5rem 1.5rem;
      font-size: 1rem;
      color: #fff;
      height: 3rem;
      text-align:center;
      border: none;
      border-radius: 1rem;
    }
    & > .back {
      background: $pink;
      &:hover {
        background-color: $off-white;
        color: $pink;
      }
    }
    & > .done {
      background: $turquoise;
      &:hover {
        background-color: $off-white;
        color: $turquoise;
      }
    }
  }
  & > .done-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    & > .illustrations {
      & > svg {
        height: 15rem;
      
      }
    }
  }
}