@import '../../Assets/styles/variables.scss';

.symbols-container {
  position: relative;
  & > .icon-target-area {
    position: absolute;
    top: -2rem;
    right: -2rem;
    padding: 1rem;
    & > svg {
      height: 2rem;
      width: 2rem;
      fill: $pink;
      background-color: $off-black;
      border: solid .2rem $off-black;
      border-radius: 100%;
    }
  }

  .symbols {
    background-color: $off-black;
    padding: .5rem; 
    box-sizing: border-box; 
    border-radius: .5rem;
  
  
  & > .inner { 
    box-sizing: border-box; 
    color: $off-white;
    padding: 1rem; 
    text-align: center; 
    border-radius: .5rem;
    display: flex;
    justify-content: space-around;
    border: .3rem solid $pink; 
    
    & > div {
      display: flex;
      flex-direction: column;
      width: calc(100% / 4);
      align-items: center;
      justify-content: center;
      
      
      & > svg {
        height: 5rem;
      }
      & > .css-icon {
        fill: blue;
      }
      & > .html-icon {
        fill: red;
      }
      & > .js-icon {
        fill: yellow;
      }
      & > h4 {
        margin: .8rem 0 0 0;
      }
      & > p {
        font-family: 'IBMPlexSans'; 
        font-size: .8rem;
      }
      & > a {
        color: $turquoise;
        text-decoration: none;
        &:hover {
          color: $pink;
        }
      }
    }
  }
}
}