@import "../../Assets/styles/variables.scss";

.header {
  display: flex;
  height: 6rem;
  padding: 1rem 4rem;
  align-items: center;
  justify-content: end;
  background-color: $off-white;

  img {
    height: 5rem;
  }
}