@import '../../Assets/styles/variables.scss';

.code-challenge {
  color: $off-black;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem 0 0;
  & > .challenge-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    & > .challenge {
      background-color: $off-black;
      padding: 0.5rem;
      box-sizing: border-box;
      border-radius: 0.5rem;
      width: 100%;
      & > .inner {
        box-sizing: border-box;
        color: $off-white;
        padding: 1rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        border: 0.3rem solid $off-white;
        & > .instructions {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 4rem 1rem 0 0;

          & > ul {
            width: 50%;
            & > li {
              font-family: 'IBMPlexSans';
              margin: 0.5rem 0;
              & > a {
                color: $off-white;
                font-weight: 800;
              }
            }
          }
          & > .hint-container {
            display: flex;
            justify-content: end;
            width: 50%;
            gap: 1rem;
            & > .icon-target-area {
              padding: 1rem;
              & > svg {
                height: 3rem;
              }
            }
            & > .hint {
              font-family: 'IBMPlexSans';
              width: 80%;
              background: yellow;
              padding: 1rem;
              color: $off-black;
            }
          }
        }

        & > .cp_embed_wrapper {
          margin: 1rem 0 0 0;
        }
      }
    }
  }
}
