@import '../../../Assets/styles/variables.scss';

.easy {
  color: $off-black;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem 0;
  & > .challenge-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    & > .start-button {
      width: 14rem;
      font-size: 1.2rem;
      color: #fff;
      height: 3rem;
      text-align:center;
      border: none;
      border-radius: 1rem;
      background-image: linear-gradient(to right, $red, $pink, $peach);  
      &:hover {
        background-image: none;
        background-color: $pink;
        color: $off-white;
        fill: $off-white;
      }
    }

    & > .challenge {
      background-color: $off-black;
      padding: .5rem; 
      box-sizing: border-box; 
      border-radius: .5rem;
      width: 100%;
      & > .inner {
        box-sizing: border-box; 
        color: $off-white;
        padding: 1rem; 
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        border: .3rem solid $off-white; 
        & > .instructions {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 4rem 1rem 0 0; 
        
          & > ul {
            & > li {
              font-family: 'IBMPlexSans'; 
              margin: .5rem 0;
            }
          }
          & > svg {
            height: 3rem;
          }
        }

        & > .cp_embed_wrapper {
          margin: 1rem 0 0 0;
        }
       
      }
    }
    & > .button-container {
      display: flex;
      justify-content: space-between;
      margin: 3rem 0;
      width: 100%;
      & > .back, 
      .next {
        display: flex;
        justify-content: space-between;
        border: none;
        color: $off-white;
        border-radius: .5rem;
        padding: .5rem .8rem;
        width: fit-content;
        &:hover {
          background-color: $pink;
          color: $off-white;
          fill: $off-white;
        }
      } 
      & > .back {
        background-color: $off-black;
      }
      & > .next {
        background-color: $pink;
      }
    }
  }
}