// PRIMARY
$pink: #FF0096;
$off-black: #0e0e0e;
$off-white: #f7f7f7;

// SECONDARY
$teal: #005d72;
$peach: #ff9d68;
$soft-pink: #ffcbda;
$turquoise: #00dece;
$red: #aa3c35;

// HOVER
$turquoise-30: #B3F5F0;
$peach-30: #FFE2D2;
$pink-30: #FFEFF4;

//OTHER
$black-10: #E7E7E7;
$pink-110: #E6B7C4;
